gradle.properties
local.properties
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
.idea/
*.apk
*.aab
*.ap_
*.dex

# OSMDroid tile cache
osmdroid/

# Built application files
app/build/
build/
