local.properties
*.iml
.gradle
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android Studio
.idea/
*.apk
*.aab
*.ap_
*.dex

# OSMDroid tile cache
osmdroid/

# Built application files
app/build/
build/
